# QTrack Backend Environment Variables

# Porta em que a API vai rodar
PORT=8000

# Conexão com o Banco de Dados PostgreSQL (se necessário sobrescrever as configurações padrões do server.js)
PGUSER=postgres
PGHOST=localhost
PGDATABASE=qtrack
PGPASSWORD=1234
PGPORT=5432

# Chave da API do Gemini para o Copilot Inteligente (Opcional - pode ser informada direto na interface web)
GEMINI_API_KEY=sua_chave_do_gemini_aqui
